.container1 {
    display: flex;
    flex-direction: column;
    margin-right: 60%;
    position: absolute;
}
.container2 {
    display: flex;
    flex-direction: column;
}
section {
    position: relative;
    left: 30px;
    
}
.container3 {
    display: flex;
    justify-content: center;
    gap : 20px
    
}
.fig1 {
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 30px black;
    margin-top: 40px;
    display: flex;
    margin-left: 45%;
}
h2 {
    display: flex;
    flex-direction: column;
    background-position: center;
}