.page {
    width: 70%;
    margin: auto;
    max-width: 1160px;
    background-color: #782221;
    box-sizing: border-box;
    border: solid #782221;
}
address {
    background-color: #2c1d27;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}
.container2 {
    background-color: white;
    color: black;
    margin-right: auto;
    margin-left: 37%;
    text-align: left;
    padding-right: 60px;
}
